.cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cart .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.cart .container {
  left: 123px;
  display: flex;
  width: 60px;
  height: 58px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  background-color: #b3261e;
  border-radius: 100px;
  overflow: hidden;
}

.cart .vector {
  position: relative;
  width: 48px;
  height: 43px;
}

.cart .vector-wrapper {
  left: 529px;
  display: flex;
  width: 60px;
  height: 58px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  background-color: #b3261e;
  border-radius: 100px;
  overflow: hidden;
}

.cart .img {
  position: relative;
  width: 40px;
  height: 40px;
}

.cart .img-wrapper {
  left: 1342px;
  display: flex;
  width: 60px;
  height: 58px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  background-color: #b3261e;
  border-radius: 100px;
  overflow: hidden;
}

.cart .vector-2 {
  position: relative;
  width: 30px;
  height: 40px;
}

.cart .overlap {
  position: absolute;
  width: 93px;
  height: 20px;
  top: 34px;
  left: 21px;
}

.cart .supporting-text {
  position: absolute;
  width: 93px;
  top: 0;
  left: 0;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #1d1b20;
  font-size: 20px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.cart .text-wrapper {
  width: 84px;
  top: 34px;
  left: 1248px;
  color: #1d1b20;
  font-size: 20px;
  -webkit-line-clamp: 7;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-2 {
  width: 48px;
  top: 34px;
  left: 471px;
  color: #1d1b20;
  font-size: 20px;
  -webkit-line-clamp: 7;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-3 {
  width: 64px;
  top: 34px;
  left: 851px;
  color: #1d1b20;
  font-size: 20px;
  -webkit-line-clamp: 7;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 400px;
  left: 0;
  object-fit: cover;
}

.cart .group {
  position: absolute;
  width: 60px;
  height: 58px;
  top: 16px;
  left: 915px;
  background-color: #b3261e;
  border-radius: 30px / 29px;
}

.cart .vector-3 {
  position: absolute;
  width: 36px;
  height: 31px;
  top: 14px;
  left: 12px;
}

.cart .navbar {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 81px;
  left: 0;
  background-color: #b3261e;
}

.cart .supporting-text-4 {
  position: absolute;
  width: 123px;
  top: 28px;
  left: 93px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #fef7ff;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-5 {
  width: 132px;
  left: 1210px;
  position: absolute;
  top: 28px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #fef7ff;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-6 {
  width: 95px;
  left: 992px;
  position: absolute;
  top: 28px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #fef7ff;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-7 {
  width: 95px;
  left: 769px;
  position: absolute;
  top: 28px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  color: #fef7ff;
  font-size: 25px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart .rectangle {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #b3261e;
}

.cart .image {
  top: 194px;
  position: absolute;
  width: 138px;
  height: 168px;
  left: 83px;
  border-radius: 16px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.cart .overlap-group {
  position: absolute;
  width: 526px;
  height: 28px;
  top: 254px;
  left: 322px;
}

.cart .supporting-text-8 {
  width: 447px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-9 {
  width: 101px;
  top: 1px;
  left: 425px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 23px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-10 {
  width: 103px;
  top: 286px;
  left: 322px;
  text-shadow: 0px 4px 4px #00000040;
  color: #852221;
  font-size: 23px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-11 {
  width: 149px;
  top: 259px;
  left: 958px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-2 {
  position: absolute;
  width: 529px;
  height: 31px;
  top: 758px;
  left: 322px;
}

.cart .supporting-text-12 {
  width: 101px;
  top: 0;
  left: 428px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-13 {
  width: 447px;
  top: 4px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-3 {
  position: absolute;
  width: 130px;
  height: 39px;
  top: 253px;
  left: 1204px;
  background-color: #b3261e;
  border-radius: 4px;
}

.cart .supporting-text-wrapper {
  position: absolute;
  width: 46px;
  height: 39px;
  top: 0;
  left: 43px;
  background-color: #ffffff54;
}

.cart .supporting-text-14 {
  width: 14px;
  top: 6px;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  color: #fef7ff;
  font-size: 25px;
  white-space: nowrap;
  -webkit-line-clamp: 0;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .vector-4 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 7px;
  left: 9px;
}

.cart .vector-5 {
  position: absolute;
  width: 24px;
  height: 3px;
  top: 19px;
  left: 98px;
}

.cart .supporting-text-15 {
  width: 149px;
  top: 505px;
  left: 956px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-4 {
  position: absolute;
  width: 524px;
  height: 30px;
  top: 501px;
  left: 322px;
}

.cart .supporting-text-16 {
  width: 101px;
  top: 0;
  left: 423px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-17 {
  width: 447px;
  top: 3px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-5 {
  position: absolute;
  width: 130px;
  height: 39px;
  top: 499px;
  left: 1202px;
  background-color: #b3261e;
  border-radius: 4px;
}

.cart .line-2 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 650px;
  left: 0;
  object-fit: cover;
}

.cart .image-2 {
  top: 444px;
  position: absolute;
  width: 138px;
  height: 168px;
  left: 83px;
  border-radius: 16px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.cart .supporting-text-18 {
  width: 103px;
  top: 536px;
  left: 322px;
  text-shadow: 0px 4px 4px #00000040;
  color: #852221;
  font-size: 23px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .line-3 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 908px;
  left: 0;
  object-fit: cover;
}

.cart .image-3 {
  top: 702px;
  position: absolute;
  width: 138px;
  height: 168px;
  left: 83px;
  border-radius: 16px;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.cart .supporting-text-19 {
  width: 103px;
  top: 794px;
  left: 322px;
  text-shadow: 0px 4px 4px #00000040;
  color: #852221;
  font-size: 23px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-20 {
  width: 149px;
  top: 766px;
  left: 961px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .supporting-text-21 {
  width: 341px;
  top: 951px;
  left: 769px;
  text-shadow: 0px 4px 4px #00000040;
  color: #1d1b20;
  font-size: 25px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-6 {
  position: absolute;
  width: 130px;
  height: 39px;
  top: 759px;
  left: 1202px;
  background-color: #b3261e;
  border-radius: 4px;
}

.cart .div-wrapper {
  position: absolute;
  width: 268px;
  height: 71px;
  top: 930px;
  left: 49px;
  background-color: #b3261e;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; 
}


.cart .div-wrapper button.supporting-text-22 {
  all: unset;         
  display: flex;      
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;      /* adjust font size as needed */
  border-radius: 4px;   /* match parent's border radius */
  user-select: none;
  cursor: pointer;
  background-color: transparent; 
}

.cart .div-wrapper button.supporting-text-22:hover {
  background-color: rgba(0, 0, 0, 0.2); 
}


.cart .supporting-text-22 {
  width: 155px;
  top: 23px;
  left: 65px;
  text-shadow: 0px 4px 4px #00000040;
  color: #fef7ff;
  font-size: 31px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-7 {
  position: absolute;
  width: 268px;
  height: 71px;
  top: 930px;
  left: 327px;
  background-color: #b3261e;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.cart .overlap-7 button {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;  
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .overlap-7 button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cart .overlap-7 button:active {
  background-color: rgba(0, 0, 0, 0.4);
}


.cart .supporting-text-23 {
  width: 89px;
  top: 23px;
  left: 98px;
  text-shadow: 0px 4px 4px #00000040;
  color: #fef7ff;
  font-size: 31px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .overlap-group-2 {
  position: absolute;
  width: 268px;
  height: 71px;
  top: 930px;
  left: 1120px;
  background-color: #b3261e;
  border-radius: 4px;
}

.cart .overlap-group-2 button {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;  
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .overlap-group-2 button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cart .overlap-group-2 button:active {
  background-color: rgba(0, 0, 0, 0.4);
}


.cart .supporting-text-24 {
  width: 169px;
  top: 23px;
  left: 68px;
  text-shadow: 0px 4px 4px #00000040;
  color: #fef7ff;
  font-size: 31px;
  -webkit-line-clamp: 1;
  position: absolute;
  font-family: "Alef-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cart .line-4 {
  position: absolute;
  width: 48px;
  height: 2px;
  top: 59px;
  left: 471px;
}
